// color
$theme: #194056;
//polices
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/
.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

* {
  outline: none;
  scroll-behavior: smooth;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --b {
  syntax: "<angle>";
  inherits: false;
  initial-value: 360deg;
}

.btn_main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #0d57dd;
  padding-left: 17px;
  padding-right: 17px;
  height: 40px;
  margin-right: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  background: conic-gradient(from var(--a), Black, rgb(167, 167, 167) var(--b));
  transition: --a 0.5s;
  animation: con 5s linear infinite;

  .background {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .filtre {
      position: absolute;
      top: 0%;
      left: 0%;
      display: block;
      background-color: black;
      opacity: 0.4;
      width: 100%;
      height: 100%;
    }
  }

  .main_struct {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    height: 98%;
    margin-top: 3vh;
    border-radius: 20px 20px 0 0;

    border: 2px solid white;
    border-bottom: none;
    color: white;

    .main_struct_container {
      width: 95%;
      height: 90%;
      margin-top: 30px;
      // border: 1px solid white;

      position: relative;

      .header_menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          width: 170px;
          img {
            width: 100%;
          }
        }

        .nav_site {
          border-radius: 16px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          height: 55px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          @media all and (max-width: 1000px) {
          background: none;
          border: none;
           }

          .links {
            list-style-type: none;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            padding-left: 0px !important;
            position: relative;

            @media all and (max-width: 1000px) {
             display: none;
            }

            .active::after {
              display: inline-block;
              content: " ";
              width: 5px;
              height: 5px;
              border-radius: 50px;
              background: #ffffff;
              position: absolute;
              bottom: 0;
              transform: translateY(-100%) translateX(50%);
            }

            li {
              display: inline-block;
              margin-left: 20px;
              margin-right: 20px;
            }
          }

          .btn_link {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: #0d57dd;
            padding-left: 17px;
            padding-right: 17px;
            height: 40px;
            margin-right: 10px;
          }
        }
      }

      .home_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        bottom: 0;

        @media all and (max-width: 1000px) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100%;
          height: auto;

          // position: relative;
          // bottom: auto;
        }

        .introduction_box {
          width: 55%;

          @media all and (max-width: 1000px) {
            width: 100%;
            margin-bottom: 30px;
          }
          .text1 {
            color: #fff;
            leading-trim: both;
            text-edge: cap;
            font-size: 70px;
            font-family: Roboto;
            font-weight: 500;

            @media all and (max-width: 1451px) {
              font-size: 4vw;
              line-height: normal;
            }

            @media all and (max-width: 1000px) {
              width: 100%;
              font-size: 7vw;
            }
          }

          .text2 {
            color: #fff;
            leading-trim: both;
            text-edge: cap;
            font-size: 70px;
            line-height: 140px;
            font-family: Ahganirya;

            @media all and (max-width: 1451px) {
              font-size: 4vw;
              line-height: 140px;
            }

            @media all and (max-width: 1000px) {
              width: 100%;
              font-family: Roboto;
              line-height: normal;
              font-weight: 500;
              font-size: 7vw;
            }

          }

          .warnn {
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: #ffffff3d;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .text_warnn {
              width: 70%;
              color: white;
              font-size: 0.9em;

              @media all and (max-width: 1451px) {
                font-size: 0.8vw;
                width: 65%;
              }
            }

            @media all and (max-width: 1451px) {
              font-size: 0.8vw;
              width: 70%;

              .btn_main {
                margin-right: 0px;
              }
            }

            .img {
              width: 35px;
            }

            @media all and (max-width: 1000px) {
              display: none;
            }
          }
        }

        .audio_container {
          display: block;
          width: 26%;

          @media all and (max-width: 1000px) {
           width: 90%;
          }

          .text {
            color: #fff;
            text-align: right;
            leading-trim: both;
            text-edge: cap;
            font-size: 40px;
            font-family: Roboto;
            font-weight: 300;
            line-height: 52px;

            @media all and (max-width: 1669px) {
              font-size: 2vw;
              line-height: normal;
            }

            @media all and (max-width: 1000px) {
             text-align: left;
             font-size: 2em;
             line-height: normal;
             }
          }

          .block_audio {
            margin-top: 30px;
            width: 100%;

            @media all and (max-width: 1000px) {
              margin-top: 15px;
              }

            .audio {
              margin-top: 10px;

              iframe {
                border-radius: 10px;
              }

              &:nth-child(2n) {
                transform: translateX(-7%);

                @media all and (max-width: 1000px) {
                  transform: translateX(7%);
                }
              }
            }
          }
        }
      }
    }
  }
  .nom {
    width: 90%;
    height: 90%;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 20px;
  left: 0px;

  z-index: 10;
}

@keyframes con {
  to {
    --a: -360deg;
    --b: 0deg;
  }
}

.fn_struct {
  display: block;
  width: 90%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: block;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    @media all and (max-width: 700px) {
      font-size: 1.2em;
    }
  }

  .links {
    color: white;
    list-style-type: none;

    @media all and (max-width: 1000px) {
      display: none;
    }

    li {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

.cta_btn {
  display: block;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  box-shadow: 3px 3px 2px #000;

  @media all and (max-width: 700px) {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
